{% if post.price %}
    {{ post.teaserContent ?: post.truncatedContent }}<br />
    <a href="{{ url('app_post_view', { 'id' : post.id, 'buy' : true }) }}">Buy the full post with LaterPay for {{ LaterPay().getPrice(post) }}</a>
{% else %}
    {{ post.truncatedContent }}<br>
    <a href="{{ url('app_post_view', { 'id' : post.id }) }}">Read the full post</a>
{% endif %}
